.custom-codemirror-container[data-v-36b45908] {
  width: 100%;
  height: 100%;
}
.custom-codemirror-container .zu-run-edit-header[data-v-36b45908] {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-36b45908] {
  padding: 5px 30px;
  border: 1px solid #999;
  background-color: #007acc;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-36b45908]:active {
  transform: scale(1.1);
}
.zu-run-split-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.zu-run-split-pane {
  position: absolute;
}
.zu-run-split-pane.left-pane,
.zu-run-split-pane.right-pane {
  top: 0;
  bottom: 0;
}
.zu-run-split-pane.left-pane {
  left: 0;
}
.zu-run-split-pane.right-pane {
  right: 0;
}
.zu-run-split-pane.bottom-pane,
.zu-run-split-pane.top-pane {
  left: 0;
  right: 0;
}
.zu-run-split-pane.top-pane {
  top: 0;
}
.zu-run-split-pane.bottom-pane {
  bottom: 0;
}
.zu-run-split-pane-moving {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.zu-run-split-trigger {
  border: 1px solid #dcdee2;
}
.zu-run-split-trigger-con {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.zu-run-split-trigger-bar-con {
  position: absolute;
  overflow: hidden;
}
.zu-run-split-trigger-bar-con.vertical {
  left: 1px;
  top: 50%;
  height: 32px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.zu-run-split-trigger-bar-con.horizontal {
  left: 50%;
  top: 1px;
  width: 32px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.zu-run-split-trigger-vertical {
  width: 6px;
  height: 100%;
  background: #f8f8f9;
  border-top: none;
  border-bottom: none;
  cursor: col-resize;
}
.zu-run-split-trigger-vertical .zu-run-split-trigger-bar {
  width: 4px;
  height: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-top: 3px;
}
.zu-run-split-trigger-horizontal {
  height: 6px;
  width: 100%;
  background: #f8f8f9;
  border-left: none;
  border-right: none;
  cursor: row-resize;
}
.zu-run-split-trigger-horizontal .zu-run-split-trigger-bar {
  height: 4px;
  width: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-right: 3px;
}
.zu-run-split-horizontal > .zu-run-split-trigger-con {
  top: 50%;
  height: 100%;
  width: 0;
}
.zu-run-split-vertical > .zu-run-split-trigger-con {
  left: 50%;
  height: 0;
  width: 100%;
}
.zu-run-split .no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vue-codemirror {
  height: 100%;
  font-family: monospace;
}
.CodeMirror {
  height: calc(100% - 40px);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: monospace;
}
.CodeMirror .CodeMirror-dialog {
  background-color: #ddd;
  color: #666;
  border: 1px solid #cbcbcb;
  border-top: 0 none;
  overflow: hidden;
  margin: 0;
  padding: 4px 6px 0 4px;
  position: absolute;
  z-index: 99;
  border-radius: 0px 0px 0px 5px;
  border-right: 0 none;
  right: 0;
  top: 0;
  left: auto;
  white-space: normal;
  width: 40%;
  height: 40px;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-field {
  background-color: #fff;
  display: inline-block;
  width: 80% !important;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-hint {
  display: none;
}
.vue-codemirror {
  height: 100%;
  font-family: monospace;
}
.CodeMirror {
  height: calc(100% - 40px);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: monospace;
}
.CodeMirror .CodeMirror-dialog {
  background-color: #ddd;
  color: #666;
  border: 1px solid #cbcbcb;
  border-top: 0 none;
  overflow: hidden;
  margin: 0;
  padding: 4px 6px 0 4px;
  position: absolute;
  z-index: 99;
  border-radius: 0px 0px 0px 5px;
  border-right: 0 none;
  right: 0;
  top: 0;
  left: auto;
  white-space: normal;
  width: 40%;
  height: 40px;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-field {
  background-color: #fff;
  display: inline-block;
  width: 80% !important;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-hint {
  display: none;
}
.vue-codemirror {
  height: 100%;
  font-family: monospace;
}
.CodeMirror {
  height: calc(100% - 40px);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: monospace;
}
.CodeMirror .CodeMirror-dialog {
  background-color: #ddd;
  color: #666;
  border: 1px solid #cbcbcb;
  border-top: 0 none;
  overflow: hidden;
  margin: 0;
  padding: 4px 6px 0 4px;
  position: absolute;
  z-index: 99;
  border-radius: 0px 0px 0px 5px;
  border-right: 0 none;
  right: 0;
  top: 0;
  left: auto;
  white-space: normal;
  width: 40%;
  height: 40px;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-field {
  background-color: #fff;
  display: inline-block;
  width: 80% !important;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-hint {
  display: none;
}
.vue-codemirror {
  height: 100%;
  font-family: monospace;
}
.CodeMirror {
  height: calc(100% - 40px);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: monospace;
}
.CodeMirror .CodeMirror-dialog {
  background-color: #ddd;
  color: #666;
  border: 1px solid #cbcbcb;
  border-top: 0 none;
  overflow: hidden;
  margin: 0;
  padding: 4px 6px 0 4px;
  position: absolute;
  z-index: 99;
  border-radius: 0px 0px 0px 5px;
  border-right: 0 none;
  right: 0;
  top: 0;
  left: auto;
  white-space: normal;
  width: 40%;
  height: 40px;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-field {
  background-color: #fff;
  display: inline-block;
  width: 80% !important;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-hint {
  display: none;
}
.custom-codemirror-container[data-v-36b45908] {
  width: 100%;
  height: 100%;
}
.custom-codemirror-container .zu-run-edit-header[data-v-36b45908] {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-36b45908] {
  padding: 5px 30px;
  border: 1px solid #999;
  background-color: #007acc;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-36b45908]:active {
  transform: scale(1.1);
}
.zu-run-split-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.zu-run-split-pane {
  position: absolute;
}
.zu-run-split-pane.left-pane,
.zu-run-split-pane.right-pane {
  top: 0;
  bottom: 0;
}
.zu-run-split-pane.left-pane {
  left: 0;
}
.zu-run-split-pane.right-pane {
  right: 0;
}
.zu-run-split-pane.bottom-pane,
.zu-run-split-pane.top-pane {
  left: 0;
  right: 0;
}
.zu-run-split-pane.top-pane {
  top: 0;
}
.zu-run-split-pane.bottom-pane {
  bottom: 0;
}
.zu-run-split-pane-moving {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.zu-run-split-trigger {
  border: 1px solid #dcdee2;
}
.zu-run-split-trigger-con {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.zu-run-split-trigger-bar-con {
  position: absolute;
  overflow: hidden;
}
.zu-run-split-trigger-bar-con.vertical {
  left: 1px;
  top: 50%;
  height: 32px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.zu-run-split-trigger-bar-con.horizontal {
  left: 50%;
  top: 1px;
  width: 32px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.zu-run-split-trigger-vertical {
  width: 6px;
  height: 100%;
  background: #f8f8f9;
  border-top: none;
  border-bottom: none;
  cursor: col-resize;
}
.zu-run-split-trigger-vertical .zu-run-split-trigger-bar {
  width: 4px;
  height: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-top: 3px;
}
.zu-run-split-trigger-horizontal {
  height: 6px;
  width: 100%;
  background: #f8f8f9;
  border-left: none;
  border-right: none;
  cursor: row-resize;
}
.zu-run-split-trigger-horizontal .zu-run-split-trigger-bar {
  height: 4px;
  width: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-right: 3px;
}
.zu-run-split-horizontal > .zu-run-split-trigger-con {
  top: 50%;
  height: 100%;
  width: 0;
}
.zu-run-split-vertical > .zu-run-split-trigger-con {
  left: 50%;
  height: 0;
  width: 100%;
}
.zu-run-split .no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vue-codemirror {
  height: 100%;
  font-family: monospace;
}
.CodeMirror {
  height: calc(100% - 40px);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: monospace;
}
.CodeMirror .CodeMirror-dialog {
  background-color: #ddd;
  color: #666;
  border: 1px solid #cbcbcb;
  border-top: 0 none;
  overflow: hidden;
  margin: 0;
  padding: 4px 6px 0 4px;
  position: absolute;
  z-index: 99;
  border-radius: 0px 0px 0px 5px;
  border-right: 0 none;
  right: 0;
  top: 0;
  left: auto;
  white-space: normal;
  width: 40%;
  height: 40px;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-field {
  background-color: #fff;
  display: inline-block;
  width: 80% !important;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-hint {
  display: none;
}
.custom-codemirror-container[data-v-7f335e74] {
  width: 100%;
  height: 100%;
}
.custom-codemirror-container .zu-run-edit-header[data-v-7f335e74] {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-7f335e74] {
  padding: 5px 30px;
  border: 1px solid #999;
  background-color: #007acc;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-7f335e74]:active {
  transform: scale(1.1);
}
.zu-run-split-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.zu-run-split-pane {
  position: absolute;
}
.zu-run-split-pane.left-pane,
.zu-run-split-pane.right-pane {
  top: 0;
  bottom: 0;
}
.zu-run-split-pane.left-pane {
  left: 0;
}
.zu-run-split-pane.right-pane {
  right: 0;
}
.zu-run-split-pane.bottom-pane,
.zu-run-split-pane.top-pane {
  left: 0;
  right: 0;
}
.zu-run-split-pane.top-pane {
  top: 0;
}
.zu-run-split-pane.bottom-pane {
  bottom: 0;
}
.zu-run-split-pane-moving {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.zu-run-split-trigger {
  border: 1px solid #dcdee2;
}
.zu-run-split-trigger-con {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.zu-run-split-trigger-bar-con {
  position: absolute;
  overflow: hidden;
}
.zu-run-split-trigger-bar-con.vertical {
  left: 1px;
  top: 50%;
  height: 32px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.zu-run-split-trigger-bar-con.horizontal {
  left: 50%;
  top: 1px;
  width: 32px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.zu-run-split-trigger-vertical {
  width: 6px;
  height: 100%;
  background: #f8f8f9;
  border-top: none;
  border-bottom: none;
  cursor: col-resize;
}
.zu-run-split-trigger-vertical .zu-run-split-trigger-bar {
  width: 4px;
  height: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-top: 3px;
}
.zu-run-split-trigger-horizontal {
  height: 6px;
  width: 100%;
  background: #f8f8f9;
  border-left: none;
  border-right: none;
  cursor: row-resize;
}
.zu-run-split-trigger-horizontal .zu-run-split-trigger-bar {
  height: 4px;
  width: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-right: 3px;
}
.zu-run-split-horizontal > .zu-run-split-trigger-con {
  top: 50%;
  height: 100%;
  width: 0;
}
.zu-run-split-vertical > .zu-run-split-trigger-con {
  left: 50%;
  height: 0;
  width: 100%;
}
.zu-run-split .no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vue-codemirror {
  height: 100%;
  font-family: monospace;
}
.CodeMirror {
  height: calc(100% - 40px);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: monospace;
}
.CodeMirror .CodeMirror-dialog {
  background-color: #ddd;
  color: #666;
  border: 1px solid #cbcbcb;
  border-top: 0 none;
  overflow: hidden;
  margin: 0;
  padding: 4px 6px 0 4px;
  position: absolute;
  z-index: 99;
  border-radius: 0px 0px 0px 5px;
  border-right: 0 none;
  right: 0;
  top: 0;
  left: auto;
  white-space: normal;
  width: 40%;
  height: 40px;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-field {
  background-color: #fff;
  display: inline-block;
  width: 80% !important;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-hint {
  display: none;
}
.custom-codemirror-container[data-v-7f335e74] {
  width: 100%;
  height: 100%;
}
.custom-codemirror-container .zu-run-edit-header[data-v-7f335e74] {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-7f335e74] {
  padding: 5px 30px;
  border: 1px solid #999;
  background-color: #007acc;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-7f335e74]:active {
  transform: scale(1.1);
}
.zu-run-split-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.zu-run-split-pane {
  position: absolute;
}
.zu-run-split-pane.left-pane,
.zu-run-split-pane.right-pane {
  top: 0;
  bottom: 0;
}
.zu-run-split-pane.left-pane {
  left: 0;
}
.zu-run-split-pane.right-pane {
  right: 0;
}
.zu-run-split-pane.bottom-pane,
.zu-run-split-pane.top-pane {
  left: 0;
  right: 0;
}
.zu-run-split-pane.top-pane {
  top: 0;
}
.zu-run-split-pane.bottom-pane {
  bottom: 0;
}
.zu-run-split-pane-moving {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.zu-run-split-trigger {
  border: 1px solid #dcdee2;
}
.zu-run-split-trigger-con {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.zu-run-split-trigger-bar-con {
  position: absolute;
  overflow: hidden;
}
.zu-run-split-trigger-bar-con.vertical {
  left: 1px;
  top: 50%;
  height: 32px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.zu-run-split-trigger-bar-con.horizontal {
  left: 50%;
  top: 1px;
  width: 32px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.zu-run-split-trigger-vertical {
  width: 6px;
  height: 100%;
  background: #f8f8f9;
  border-top: none;
  border-bottom: none;
  cursor: col-resize;
}
.zu-run-split-trigger-vertical .zu-run-split-trigger-bar {
  width: 4px;
  height: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-top: 3px;
}
.zu-run-split-trigger-horizontal {
  height: 6px;
  width: 100%;
  background: #f8f8f9;
  border-left: none;
  border-right: none;
  cursor: row-resize;
}
.zu-run-split-trigger-horizontal .zu-run-split-trigger-bar {
  height: 4px;
  width: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-right: 3px;
}
.zu-run-split-horizontal > .zu-run-split-trigger-con {
  top: 50%;
  height: 100%;
  width: 0;
}
.zu-run-split-vertical > .zu-run-split-trigger-con {
  left: 50%;
  height: 0;
  width: 100%;
}
.zu-run-split .no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vue-codemirror {
  height: 100%;
  font-family: monospace;
}
.CodeMirror {
  height: calc(100% - 40px);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: monospace;
}
.CodeMirror .CodeMirror-dialog {
  background-color: #ddd;
  color: #666;
  border: 1px solid #cbcbcb;
  border-top: 0 none;
  overflow: hidden;
  margin: 0;
  padding: 4px 6px 0 4px;
  position: absolute;
  z-index: 99;
  border-radius: 0px 0px 0px 5px;
  border-right: 0 none;
  right: 0;
  top: 0;
  left: auto;
  white-space: normal;
  width: 40%;
  height: 40px;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-field {
  background-color: #fff;
  display: inline-block;
  width: 80% !important;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-hint {
  display: none;
}
.custom-codemirror-container[data-v-36b45908] {
  width: 100%;
  height: 100%;
}
.custom-codemirror-container .zu-run-edit-header[data-v-36b45908] {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-36b45908] {
  padding: 5px 30px;
  border: 1px solid #999;
  background-color: #007acc;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-36b45908]:active {
  transform: scale(1.1);
}
.zu-run-split-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.zu-run-split-pane {
  position: absolute;
}
.zu-run-split-pane.left-pane,
.zu-run-split-pane.right-pane {
  top: 0;
  bottom: 0;
}
.zu-run-split-pane.left-pane {
  left: 0;
}
.zu-run-split-pane.right-pane {
  right: 0;
}
.zu-run-split-pane.bottom-pane,
.zu-run-split-pane.top-pane {
  left: 0;
  right: 0;
}
.zu-run-split-pane.top-pane {
  top: 0;
}
.zu-run-split-pane.bottom-pane {
  bottom: 0;
}
.zu-run-split-pane-moving {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.zu-run-split-trigger {
  border: 1px solid #dcdee2;
}
.zu-run-split-trigger-con {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.zu-run-split-trigger-bar-con {
  position: absolute;
  overflow: hidden;
}
.zu-run-split-trigger-bar-con.vertical {
  left: 1px;
  top: 50%;
  height: 32px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.zu-run-split-trigger-bar-con.horizontal {
  left: 50%;
  top: 1px;
  width: 32px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.zu-run-split-trigger-vertical {
  width: 6px;
  height: 100%;
  background: #f8f8f9;
  border-top: none;
  border-bottom: none;
  cursor: col-resize;
}
.zu-run-split-trigger-vertical .zu-run-split-trigger-bar {
  width: 4px;
  height: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-top: 3px;
}
.zu-run-split-trigger-horizontal {
  height: 6px;
  width: 100%;
  background: #f8f8f9;
  border-left: none;
  border-right: none;
  cursor: row-resize;
}
.zu-run-split-trigger-horizontal .zu-run-split-trigger-bar {
  height: 4px;
  width: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-right: 3px;
}
.zu-run-split-horizontal > .zu-run-split-trigger-con {
  top: 50%;
  height: 100%;
  width: 0;
}
.zu-run-split-vertical > .zu-run-split-trigger-con {
  left: 50%;
  height: 0;
  width: 100%;
}
.zu-run-split .no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vue-codemirror {
  height: 100%;
  font-family: monospace;
}
.CodeMirror {
  height: calc(100% - 40px);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: monospace;
}
.CodeMirror .CodeMirror-dialog {
  background-color: #ddd;
  color: #666;
  border: 1px solid #cbcbcb;
  border-top: 0 none;
  overflow: hidden;
  margin: 0;
  padding: 4px 6px 0 4px;
  position: absolute;
  z-index: 99;
  border-radius: 0px 0px 0px 5px;
  border-right: 0 none;
  right: 0;
  top: 0;
  left: auto;
  white-space: normal;
  width: 40%;
  height: 40px;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-field {
  background-color: #fff;
  display: inline-block;
  width: 80% !important;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-hint {
  display: none;
}
.custom-codemirror-container[data-v-7f335e74] {
  width: 100%;
  height: 100%;
}
.custom-codemirror-container .zu-run-edit-header[data-v-7f335e74] {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-7f335e74] {
  padding: 5px 30px;
  border: 1px solid #999;
  background-color: #007acc;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-7f335e74]:active {
  transform: scale(1.1);
}
.zu-run-split-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.zu-run-split-pane {
  position: absolute;
}
.zu-run-split-pane.left-pane,
.zu-run-split-pane.right-pane {
  top: 0;
  bottom: 0;
}
.zu-run-split-pane.left-pane {
  left: 0;
}
.zu-run-split-pane.right-pane {
  right: 0;
}
.zu-run-split-pane.bottom-pane,
.zu-run-split-pane.top-pane {
  left: 0;
  right: 0;
}
.zu-run-split-pane.top-pane {
  top: 0;
}
.zu-run-split-pane.bottom-pane {
  bottom: 0;
}
.zu-run-split-pane-moving {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.zu-run-split-trigger {
  border: 1px solid #dcdee2;
}
.zu-run-split-trigger-con {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.zu-run-split-trigger-bar-con {
  position: absolute;
  overflow: hidden;
}
.zu-run-split-trigger-bar-con.vertical {
  left: 1px;
  top: 50%;
  height: 32px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.zu-run-split-trigger-bar-con.horizontal {
  left: 50%;
  top: 1px;
  width: 32px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.zu-run-split-trigger-vertical {
  width: 6px;
  height: 100%;
  background: #f8f8f9;
  border-top: none;
  border-bottom: none;
  cursor: col-resize;
}
.zu-run-split-trigger-vertical .zu-run-split-trigger-bar {
  width: 4px;
  height: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-top: 3px;
}
.zu-run-split-trigger-horizontal {
  height: 6px;
  width: 100%;
  background: #f8f8f9;
  border-left: none;
  border-right: none;
  cursor: row-resize;
}
.zu-run-split-trigger-horizontal .zu-run-split-trigger-bar {
  height: 4px;
  width: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-right: 3px;
}
.zu-run-split-horizontal > .zu-run-split-trigger-con {
  top: 50%;
  height: 100%;
  width: 0;
}
.zu-run-split-vertical > .zu-run-split-trigger-con {
  left: 50%;
  height: 0;
  width: 100%;
}
.zu-run-split .no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vue-codemirror {
  height: 100%;
  font-family: monospace;
}
.CodeMirror {
  height: calc(100% - 40px);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: monospace;
}
.CodeMirror .CodeMirror-dialog {
  background-color: #ddd;
  color: #666;
  border: 1px solid #cbcbcb;
  border-top: 0 none;
  overflow: hidden;
  margin: 0;
  padding: 4px 6px 0 4px;
  position: absolute;
  z-index: 99;
  border-radius: 0px 0px 0px 5px;
  border-right: 0 none;
  right: 0;
  top: 0;
  left: auto;
  white-space: normal;
  width: 40%;
  height: 40px;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-field {
  background-color: #fff;
  display: inline-block;
  width: 80% !important;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-hint {
  display: none;
}
.custom-codemirror-container[data-v-7f335e74] {
  width: 100%;
  height: 100%;
}
.custom-codemirror-container .zu-run-edit-header[data-v-7f335e74] {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-7f335e74] {
  padding: 5px 30px;
  border: 1px solid #999;
  background-color: #007acc;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.custom-codemirror-container .zu-run-edit-header span[data-v-7f335e74]:active {
  transform: scale(1.1);
}
.zu-run-split-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.zu-run-split-pane {
  position: absolute;
}
.zu-run-split-pane.left-pane,
.zu-run-split-pane.right-pane {
  top: 0;
  bottom: 0;
}
.zu-run-split-pane.left-pane {
  left: 0;
}
.zu-run-split-pane.right-pane {
  right: 0;
}
.zu-run-split-pane.bottom-pane,
.zu-run-split-pane.top-pane {
  left: 0;
  right: 0;
}
.zu-run-split-pane.top-pane {
  top: 0;
}
.zu-run-split-pane.bottom-pane {
  bottom: 0;
}
.zu-run-split-pane-moving {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.zu-run-split-trigger {
  border: 1px solid #dcdee2;
}
.zu-run-split-trigger-con {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.zu-run-split-trigger-bar-con {
  position: absolute;
  overflow: hidden;
}
.zu-run-split-trigger-bar-con.vertical {
  left: 1px;
  top: 50%;
  height: 32px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.zu-run-split-trigger-bar-con.horizontal {
  left: 50%;
  top: 1px;
  width: 32px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.zu-run-split-trigger-vertical {
  width: 6px;
  height: 100%;
  background: #f8f8f9;
  border-top: none;
  border-bottom: none;
  cursor: col-resize;
}
.zu-run-split-trigger-vertical .zu-run-split-trigger-bar {
  width: 4px;
  height: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-top: 3px;
}
.zu-run-split-trigger-horizontal {
  height: 6px;
  width: 100%;
  background: #f8f8f9;
  border-left: none;
  border-right: none;
  cursor: row-resize;
}
.zu-run-split-trigger-horizontal .zu-run-split-trigger-bar {
  height: 4px;
  width: 1px;
  background: rgba(23, 35, 61, 0.25);
  float: left;
  margin-right: 3px;
}
.zu-run-split-horizontal > .zu-run-split-trigger-con {
  top: 50%;
  height: 100%;
  width: 0;
}
.zu-run-split-vertical > .zu-run-split-trigger-con {
  left: 50%;
  height: 0;
  width: 100%;
}
.zu-run-split .no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vue-codemirror {
  height: 100%;
  font-family: monospace;
}
.CodeMirror {
  height: calc(100% - 40px);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: monospace;
}
.CodeMirror .CodeMirror-dialog {
  background-color: #ddd;
  color: #666;
  border: 1px solid #cbcbcb;
  border-top: 0 none;
  overflow: hidden;
  margin: 0;
  padding: 4px 6px 0 4px;
  position: absolute;
  z-index: 99;
  border-radius: 0px 0px 0px 5px;
  border-right: 0 none;
  right: 0;
  top: 0;
  left: auto;
  white-space: normal;
  width: 40%;
  height: 40px;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-field {
  background-color: #fff;
  display: inline-block;
  width: 80% !important;
}
.CodeMirror .CodeMirror-dialog .CodeMirror-search-hint {
  display: none;
}
